* {
	padding: 0;
	margin: 0;
}
body {
	padding: 50px;
	font-family: Arial, sans-serif;
}
span.s2ac-current-selection {
	padding: 0 0 0 10px;
}
ol.s2ac-suggestions {
	position: absolute;
	list-style-type: none;
	border: 1px solid #ccc;
	background-color: #fff;
	display: none;
	min-width: 120px;
}
ol.s2ac-suggestions li {
	padding: 5px 10px;
	cursor: pointer;
}
ol.s2ac-suggestions li.s2ac-active {
	background-color: #ccc;
	color: #fff;
}
section {
	margin: 1em 0;
	padding: 0.5em;
	border: 1px dotted #333;
	background: #ccc;
}
p {
	margin: 0.2em 0 0.4em;
}
